* {
    box-sizing: border-box;
  }

.blue_circle_logo{
	right: 74px;
    width: 39%;
    position: relative;
    bottom: 63px;
}
.dark_circle_logo{
	width: 18%;
}
.logo{
	position: absolute;
    /* top: -303px; */
    width: 52%;
    right: 340px;
}
.buy_btn{
	background-color: #223a47;
    position: relative;
    /* bottom: 296px; */
    top: 279px;
}
.circle_logo{
	width: 62%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.contact-link{
	color: #223a47;
}
.mobile-link{
	color: #223a47;
}
#index-banner{
	height: 400px;
}
.mid-section{
	background-color: #a8d0c4;
	margin: 0;
	width: 100%;
	max-width:100%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

.material-icons{
	color: #223a47;
}

.mid-tag{
	color: #223a47;
}
.low-mid{
	background-color: #b6c7ed;
	color: #223a47;
	margin: 0;
	width: 100%;
	max-width:100%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}
.page-footer{
	background-color: #627d72
}